.ValidateForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.ValidateForm button {
    font-family: tahoma;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem 1.3rem 0.8rem 1.3rem;
    background-color: #29b647;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    color: aliceblue;
    font-size: 12px;
    font-weight: 800;
}
.ValidateForm button:hover {
    color: #ffffff;
    background-color: #2f743a;
    opacity: 0.6;
}
.ValidateForm input {
    background: none;
    border: none;
    border-bottom: 1px solid #999;
    padding: 0.3rem;
    margin: 1rem;
}
.ValidateForm input:active{
    background: none;
    outline: none;

}
.ValidateForm input:focus {
    background: none;
    outline: none;
    font-family: Tahoma;
    font-size: 15px;
}

.ValidateForm input::placeholder {
    color: #6d6b6b;
    font-family: Tahoma;
    font-size: 15px;
}
.ValidateForm label {
    border-radius: 0.3rem;
    background-color: #0a0642ef;
    padding: 1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #ffffff;
    font-family: tahoma;
}